* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/bridge.jpg);
}

a {
    color: #00b7ff;
}

#register-input {
    width: 100%;
    display: flex;
    justify-content: center;
}

