<!DOCTYPE html>
<html>
  <head>
      <%- include('../partials/head') %> 
      <title>About</title>
    </head>
  <body>
    <%- include('../partials/header') %>  
    <h1>About</h1>
    <h4>Heres some words about the services we provide</h4>




    <%- include('../partials/head') %> 
  </body>
</html>
